body {
    margin: 0;
    padding: 0;
    background: #deeff6;
}

header {
    display: flex;
    background: #add8e6;
    padding: 50px;
    height: 50px;
}

.logo {
    font-size: 30px;
    color: #0f3186;
    border: 2px solid #0f3186;
    padding: 5px;
    border-radius: 5px;
}

.button-list {
    position: absolute;
    right: 0;
    margin: 20px 20px 0 0;
    height: 150px;
    text-align: center;
    display: inline-block;
}

button {
    width: 100px;
}

button:hover {
    background: #0f3186;
    cursor: pointer;
    color: #deeff6;
}

.goods-list {
    display: flex;
}

.goods-item {
    background: lightcyan;
    width: 100px;
    margin-left: 10%;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
}
.invisible{
    display: none!important;
   }
.basket-item{
    display: flex;
    align-items: center;
    border: 1px solid #0f3186;
}
.button-box{
    background:  lightcyan;
}
.button-result{
    font-size: 20px;
   display: flex;
   flex-direction: column;
    background: lightcyan;
    border: 1px solid #0f3186;
}
p{
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.product-desc{
    width: 100px;
}